#map {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
}
#img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 256px;
  height: 256px;
  visibility: hidden;
}
#hist {
  position: absolute;
  top: 400px;
  height: 250px;
  width: 100%;
  background: lightgray;
}
canvas {
  padding: 0;
  margin: 0;
}
.histo {
  fill-opacity: .4;
  stroke-width: 2;
}
